/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
}

#displayArea{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    margin: 0;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: row; */

}

#tvArea{
    /* margin-top: 10em;
    margin-bottom: 10em;
    margin-left: 5em;
    margin-right: 5em; */
    /* width: 80%;
    height: 80%; */
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#tvTop{

    width: 80%;
    height: 70%;
    background-color: lightgreen;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#tvFrame{
    width: 100%;
    height: 100%;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#pilotLight{
    position: absolute;
    top: 94%;
    left: 92%;
    width: 1em;
    height: 1.5em;
    border-radius: 100%;
    /* background-color: red; */
}

.pilotLightOn{
    background-color: green;
}

.pilotLightOff{
    background-color: red;
}

#brandLogo{
    position: absolute;
    top: 94%;
    left: 50%;
    width: 5em;
    height: 2em;
    border-radius: 100%;
    background-color: rgb(146, 146, 146);
    color: rgb(224, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;

}

#tvScreenArea{
    /* width: 85%;
    height: 85%; */
    width: 65em; /* should try 70em */
    height: 0;
    padding-bottom: calc((9 / 16) * 65em); 
    background-color: blue;
    position: relative;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    overflow: hidden;

    padding-left: 0;
}




#tvScreenArea img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;

    /* width: 85em; 
    height: 0;
    padding-bottom: calc((9 / 16) * 85em);  */
}

#muteArea{
    width: 3em; 
    height: 3em;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */

    position: absolute;

    top: 1em;
    right: 1em;

    /* background-color: #c41f1f; */
    background-color: #c5c5c5;
    opacity: 50%;
}




#muteArea img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}





/* #tvScreen{
    width: 100%;
    height: 100%;
    
    position: absolute;

    overflow: hidden;

} */



#tvBottom{
    width: 80%;
    height: 15%;
    background-color: brown;
    margin-bottom: 7em;
}

#remoteArea{
    margin: 0;
    /* padding: 0; */
}

#remoteBody{
    /* width: 100%; */
    height: 80%;

    width: 20em;


    background-color: #3b3b3b;

    border-radius: 2em;
    
    position: relative;
}

.button{
    width: 3em;
    height: 3em;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

#powerButton{
    background-color: red;

    top: 2em;
    left: 2em;

    border-radius: 100em;
}

#menuButton{
    background-color: #1f1f1f;

    top: 2.5em;
    /* left: 15em; */
    right: 2em;

    width: 3em;
    height: 2em;
}

#srcButton{
    background-color: #1f1f1f;

    top: 6em;
    left: 2em;

    width: 3em;
    height: 2em;
}

#infoButton{
    background-color: #1f1f1f;

    top: 6em;
    /* left: 15em; */
    right: 2em;

    width: 3em;
    height: 2em;
}

/* to remove */

#test{
    position: relative;
    background-color: #c4c4c4;

    top: 11em;
    left: 3.25em;

    width: 12em;
    height: 12em;
    border-radius: 100em;
}

/* #navUpButton{
    background-color: #1f1f1f;

    top: 10em;
    left: 2.5em;

    width: 15em;
    height: 4em;
}

#navRightButton{
    background-color: #1f1f1f;

    top: 14em;
    right: 2.5em;

    width: 4em;
    height: 15em;
}     */


/* #navUpButton{
    background-color: #1f1f1f;

    top: 0em;
    left: 0em;

    width: 15em;
    height: 4em;
}

#navRightButton{
    background-color: #1f1f1f;

    top: 5em;
    right: 0em;

    width: 4em;
    height: 15em;
}     */

#volButton{
    background-color: #1f1f1f;

    bottom: 15em;
    left: 3em;

    width: 3em;
    height: 6em;

    border-radius: 100%;
}

#muteButton{
    background-color: #1f1f1f;

    bottom: 18.5em;
    left: 9em;

    width: 2em;
    height: 2em;

    border-radius: 100%;
}

#backChannelButton{
    background-color: #1f1f1f;

    bottom: 15.5em;
    left: 9em;

    width: 2em;
    height: 2em;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#backChannelButton img{
    width: 1.5em;
    height: 1.5em;
}

#channelButton{
    background-color: #1f1f1f;

    bottom: 15em;
    right: 3em;

    width: 3em;
    height: 6em;

    border-radius: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#channelUpButton{
    color: white;

    padding: 0.5em;   
    /* width: 3em;
    height: 3em; */

    /* border-radius: 100%; */
}

#channelButtonLabel{
    color: white;

    padding: 0.5em;

    /* width: 3em;
    height: 3em; */

    /* border-radius: 100%; */
}

#channelDownButton{
    color: white;

    padding: 0.5em;

    /* width: 3em;
    height: 3em; */

    /* border-radius: 100%; */
}

#button1{
    background-color: #c5c5c5;

    bottom: 11em;
    left: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button2{
    background-color: #c5c5c5;

    bottom: 11em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button3{
    background-color: #c5c5c5;

    bottom: 11em;
    right: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button4{
    background-color: #c5c5c5;

    bottom: 7.5em;
    left: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button5{
    background-color: #c5c5c5;

    bottom: 7.5em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button6{
    background-color: #c5c5c5;

    bottom: 7.5em;
    right: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button7{
    background-color: #c5c5c5;

    bottom: 4em;
    left: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button8{
    background-color: #c5c5c5;

    bottom: 4em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button9{
    background-color: #c5c5c5;

    bottom: 4em;
    right: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button0{
    background-color: #c5c5c5;

    bottom: 0.5em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#muteButton{
    color: white;
}




.hidden{
    display: none;
}