* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/* make this disappear on small */
#topArea{ 
    min-height: 5svh;
}

#mainRow{
    display: grid;
    max-width: 85vw;
    grid-template-columns: 5fr 1fr;
    gap: 10%;
    margin-inline: auto;

    container-type: inline-size;
}

#tvFrame{
    width: 67em;
    height: calc((9 / 16) * 72em);
    padding: 1em;
    padding-bottom: 4em;
    background-color: #3b3b3b;
    
    position: relative; 

    font-size: clamp(0.7rem, 1cqi, 1.2rem);
}

#pilotLight{
    position: absolute;
    top: 95%;
    left: 92%;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.pilotLightOn{
    background-color: green;
}

.pilotLightOff{
    background-color: red;
}

#brandLogo{
    position: absolute;
    top: 93.75%;
    left: 50%;
    color: rgb(224, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#tvScreenArea{
    
    width: 65em; 
    height: 0;
    padding-bottom: calc((9 / 16) * 65em);
    background-color: blue;
    position: relative;


    overflow: hidden;

    padding-left: 0;
}




#tvScreenArea img , #tvScreenArea video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}

#volumeDisplay{
    position: absolute;
    top: 5em;
    left: 1em;

    color: white;
    font-weight: lighter;
    font-size: 0.8em;

    display: flex;
    flex-direction: column;
    margin-left: 1.5em;

}

#volumeBar{
    background-color: white;
    width: 1.5em;
    height: 10em;

    display: flex;
    align-items: flex-end;
    
}

#volumeLevel{
    background-color: green;
    width: 1.5em;
    height: 10em;

}


#muteArea{
    width: 3em; 
    height: 3em;

    position: absolute;

    top: 1em;
    right: 1em;

    background-color: #c5c5c5;
    opacity: 50%;
}




#muteArea img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#programInfoArea{
    width: 65em;
    height: 10em;

    position: absolute;

    top: calc(100% - 10em);
    left: 0em;

    background-color: black;
    opacity: 80%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#infoAreaRow1{
    width: 65em;
    height: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;

    background-color: black;
}

#channelIdArea{
    background-color: white;

    width: 6em;
    height: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#timeTagArea{
    background-color: white;

    width: 6em;
    height: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#infoAreaRow2{ /*add */
    width: 65em;
    height: 4em;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    /* padding: 0.5em; */
    padding-left: 2em;
    padding-right: 2em;

    background-color: black;
}

.programCard{
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 1em;

}

.programTitle{
    background-color: white;

    max-width: 5em;

    border: #000 0.1em solid;

    font-size: 0.8em;
}

.programTime{
    background-color: white;

    font-size: 0.8em;

    display: flex;
    flex-direction: row;

    border: #000 0.1em solid;
}

#descArea{
    width: 65em;
    height: 5em;

    padding: 0.5em;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

#menuArea{
    width: 20em;
    height: calc((9 / 16) * 65em);

    position: absolute;
    top: 0;
    left: 45em;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menuButtonsArea{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.bg-white{
    color: black;
    background-color: white;
    padding: 0.5em;
}

#tvBottom{
    width: 80%;
    height: 15%;
    background-color: brown;
    margin-bottom: 7em;
}



#remoteBody{
    height: 100%;

    width: 20em;


    background-color: #3b3b3b;

    border-radius: 2em;
    
    position: relative;

    font-size: clamp(0.7rem, 1cqi, 1.2rem);
}

.button{
    width: 3em;
    height: 3em;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    box-shadow: 0 0.5em;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    transform: translateY(0.5em);
    box-shadow: none;
}

#powerButton{
    background-color: red;

    top: 2em;
    left: 2em;

    border-radius: 100em;
}

#powerButton img {
    object-fit: cover;
    width: 80%;
    height: 80%;
}

#remoteLight{
    position: absolute;
    top: 2em;
    left: 9.5em;
    width: 1em;
    height: 1em;
    border-radius: 100%;

}

.remoteLightOn{
    background-color: green;
}

.remoteLightOff{
    background-color: red;
}

#menuButton{
    background-color: #1f1f1f;

    top: 2.5em;
    right: 2em;

    width: 3em;
    height: 2em;
}

#srcButton{
    background-color: #1f1f1f;

    top: 6em;
    left: 2em;

    width: 3em;
    height: 2em;
}

#infoButton{
    background-color: #1f1f1f;
    color: white;

    top: 6em;
    right: 2em;

    width: 3em;
    height: 2em;
}

/* to remove */

#test{
    position: relative;

    top: 9em;
    left: 5em;

    width: 10em;
    height: 10em;
    border-radius: 100em;
}

#navUpButtonHolder{
    top: 0em;
    left: 3.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c4c4c4;
    border-radius: 100%;
}

 #navUpButton{

    top: 0em;
    left: 3.5em;
    border-left: 1.3em solid transparent;
    border-right: 1.3em solid transparent;
    border-bottom: 1.9em solid #1f1f1f;
    

}

#navDownButtonHolder{
    top: 7em;
    left: 3.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c4c4c4;
    border-radius: 100%;

}

#navDownButton{

    top: 7em;
    left: 3.5em;
   
    border-left: 1.3em solid transparent;
    border-right: 1.3em solid transparent;
    border-top: 1.9em solid #1f1f1f;
      
}

#navRightButtonHolder{
    top: 3.5em;
    left: 7em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c4c4c4;
    border-radius: 100%;
}

#navRightButton{

    border-left: 1.9em solid #1f1f1f;
    border-top: 1.3em solid transparent;
    border-bottom: 1.3em solid transparent;

}

#navLeftButtonHolder{
    top: 3.5em;
    left: 0em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c4c4c4;
    border-radius: 100%;
}

#navLeftButton{
    border-top: 1.3em solid transparent;
    border-bottom: 1.3em solid transparent;
    border-right: 1.9em solid #1f1f1f;
}



#okButton{
    background-color: #c4c4c4;
    color: #1f1f1f;
    font-weight: bold;

    top: 3.5em;
    left: 3.5em;

    border-radius: 100%;
}

#menuButton{
    color: white;
}

#volButton{
    background-color: #1f1f1f;

    bottom: 15em;
    left: 3em;

    width: 3em;
    height: 6em;

    border-radius: 100%;
}

#muteButton{
    background-color: #1f1f1f;

    bottom: 18.5em;
    left: 9em;

    width: 2em;
    height: 2em;

    border-radius: 100%;
}

#backChannelButton{
    background-color: #1f1f1f;

    bottom: 15.5em;
    left: 9em;

    width: 2em;
    height: 2em;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#backChannelButton img{
    width: 1.5em;
    height: 1.5em;
}

#volButton{
    background-color: #1f1f1f;

    bottom: 15em;
    right: 3em;

    width: 3em;
    height: 6em;

    border-radius: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#volUpButton{
    color: white;

    padding: 0.5em;
}

#volUpButton img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#volButtonLabel{
    color: white;

    padding: 0.5em;
}

#volDownButton{
    color: white;

    padding: 0.5em;
}

#volDownButton img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#channelButton{
    background-color: #1f1f1f;

    bottom: 15em;
    right: 3em;

    width: 3em;
    height: 6em;

    border-radius: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#channelUpButton{
    color: white;

    padding: 0.5em;
}

#channelUpButton img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#channelButtonLabel{
    color: white;

    padding: 0.5em;
}

#channelDownButton{
    color: white;

    padding: 0.5em;
}

#channelDownButton img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#button1{
    background-color: #c5c5c5;

    bottom: 11em;
    left: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button2{
    background-color: #c5c5c5;

    bottom: 11em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button3{
    background-color: #c5c5c5;

    bottom: 11em;
    right: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button4{
    background-color: #c5c5c5;

    bottom: 7.5em;
    left: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button5{
    background-color: #c5c5c5;

    bottom: 7.5em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button6{
    background-color: #c5c5c5;

    bottom: 7.5em;
    right: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button7{
    background-color: #c5c5c5;

    bottom: 4em;
    left: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button8{
    background-color: #c5c5c5;

    bottom: 4em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button9{
    background-color: #c5c5c5;

    bottom: 4em;
    right: 4em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#button0{
    background-color: #c5c5c5;

    bottom: 0.5em;
    left: 8.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 100%;
}

#muteButton{
    color: white;
}




.hidden{
    display: none !important; /*  neeeded since the other display settings are ids */
}

/* force landscape mode */
 @media screen and (orientation: portrait) {
   
    
    #mainRow {
        transform: rotate(-90deg);
        width: 100vh;
        height: 100vw;
        position: absolute;
        bottom: 0%;
        left: 0%;
        gap: 0;
        margin: 0;
    }
    #topArea, #bottomArea {
        display: none;
        min-height: 0;
    }
  }
  
  /* @media screen and (max-height: 600px) {
    #topArea, #bottomArea {
      display: none;
    }
  
    #mainRow {
      gap: 0;
      margin: 0;
      padding: 0;
      margin-inline: 0;
    }
  }  */